{
  "id": 1,
  "title": "___TITLE___",
  "tags": [],
  "style": "dark",
  "timezone": "browser",
  "editable": true,
  "hideControls": false,
  "sharedCrosshair": false,
  "rows": [
    {
      "collapse": false,
      "editable": true,
      "height": "300px",
      "panels": [
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "cadvisor",
          "editable": true,
          "error": false,
          "fill": 4,
          "grid": {
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "height": "300px",
          "id": 4,
          "interval": "",
          "legend": {
            "alignAsTable": false,
            "avg": false,
            "current": false,
            "hideEmpty": true,
            "max": false,
            "min": false,
            "rightSide": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": ___STACK___,
          "steppedLine": false,
          "targets": [
            {
              "alias": "$tag_container_name.cpu",
              "column": "value",
              "condition": "value > 0 and ___CONTAINER_WHERE_CLAUSE___",
              "fill": "",
              "function": "derivative",
              "groupby_field": "container_name",
              "interval": "5s",
              "query": "SELECT derivative(mean(\"value\"), 10s) FROM \"cpu_usage_total\" WHERE ___CONTAINER_WHERE_CLAUSE___ AND $timeFilter GROUP BY time($interval), container_name fill(previous)",
              "refId": "B",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "measurement": "cpu_usage_total",
              "rawQuery": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Container CPU Usage",
          "tooltip": {
            "shared": ___TOOLTIP_SHARED___,
            "value_type": "cumulative",
            "sort": 0,
            "msResolution": false
          },
          "transparent": false,
          "type": "graph",
          "yaxes": [
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "hertz"
            },
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "none"
            }
          ],
          "xaxis": {
            "show": true
          }
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "cadvisor",
          "editable": true,
          "error": false,
          "fill": 4,
          "grid": {
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "height": "300px",
          "id": 1,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": ___STACK___,
          "steppedLine": false,
          "targets": [
            {
              "alias": "$tag_container_name.memory",
              "column": "value",
              "condition": "value <> 0 and ___CONTAINER_WHERE_CLAUSE___",
              "function": "mean",
              "groupby_field": "container_name",
              "interval": "10s",
              "query": "SELECT mean(\"value\") FROM \"memory_usage\" WHERE ___CONTAINER_WHERE_CLAUSE___ AND ___CONTAINER_WHERE_CLAUSE___ AND $timeFilter GROUP BY time($interval), \"container_name\" fill(previous)",
              "refId": "A",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "tag",
                  "params": [
                    "container_name"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "measurement": "memory_usage",
              "rawQuery": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Container Memory Usage",
          "tooltip": {
            "shared": ___TOOLTIP_SHARED___,
            "value_type": "cumulative",
            "sort": 0,
            "msResolution": false
          },
          "type": "graph",
          "yaxes": [
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "bytes"
            },
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "bytes"
            }
          ],
          "xaxis": {
            "show": true
          }
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "cadvisor",
          "editable": true,
          "error": false,
          "fill": 4,
          "grid": {
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "height": "300px",
          "id": 2,
          "interval": "",
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": ___STACK___,
          "steppedLine": false,
          "targets": [
            {
              "alias": "$tag_container_name.tx",
              "column": "value",
              "condition": "value > 0 and ___CONTAINER_WHERE_CLAUSE___",
              "function": "derivative",
              "groupby_field": "container_name",
              "interval": "1m",
              "query": "SELECT derivative(mean(\"value\"), 10s)/8 FROM \"tx_bytes\" WHERE ___CONTAINER_WHERE_CLAUSE___ AND $timeFilter GROUP BY time($interval), container_name fill(previous)",
              "refId": "A",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "tags": [],
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "rawQuery": true
            },
            {
              "alias": "$tag_container_name.rx",
              "column": "value",
              "condition": "value > 0 and ___CONTAINER_WHERE_CLAUSE___",
              "function": "derivative",
              "groupby_field": "container_name",
              "interval": "1m",
              "query": "SELECT derivative(mean(\"value\"), 10s)/8 FROM \"rx_bytes\" WHERE ___CONTAINER_WHERE_CLAUSE___ AND $timeFilter GROUP BY time($interval), container_name fill(previous)",
              "refId": "A",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "tags": [],
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "rawQuery": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "___NETWORK_USAGE_TITLE___",
          "tooltip": {
            "shared": ___TOOLTIP_SHARED___,
            "value_type": "cumulative",
            "sort": 0,
            "msResolution": false
          },
          "type": "graph",
          "yaxes": [
            {
              "show": true,
              "min": null,
              "max": null,
              "logBase": 1,
              "format": "Bps"
            },
            {
              "show": true,
              "min": null,
              "max": null,
              "logBase": 1,
              "format": "short"
            }
          ],
          "xaxis": {
            "show": true
          }
        },
        {
          "aliasColors": {},
          "bars": false,
          "datasource": "cadvisor",
          "editable": true,
          "error": false,
          "fill": 4,
          "grid": {
            "threshold1": null,
            "threshold1Color": "rgba(216, 200, 27, 0.27)",
            "threshold2": null,
            "threshold2Color": "rgba(234, 112, 112, 0.22)"
          },
          "height": "300px",
          "id": 3,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "connected",
          "percentage": false,
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "span": 12,
          "stack": ___STACK___,
          "steppedLine": false,
          "targets": [
            {
              "alias": "$tag_container_name.fs_usage",
              "column": "value",
              "condition": "value <> 0 and ___CONTAINER_WHERE_CLAUSE___",
              "function": "mean",
              "groupby_field": "container_name",
              "interval": "10s",
              "query": "SELECT mean(\"value\") FROM \"fs_usage\" WHERE ___CONTAINER_WHERE_CLAUSE___ AND ___CONTAINER_WHERE_CLAUSE___ AND $timeFilter GROUP BY time($interval), \"container_name\" fill(previous)",
              "refId": "A",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "tag",
                  "params": [
                    "container_name"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "measurement": "memory_usage",
              "rawQuery": true
            },
            {
              "alias": "$tag_container_name.fs_limit",
              "column": "value",
              "condition": "value <> 0 and ___CONTAINER_WHERE_CLAUSE___",
              "function": "mean",
              "groupby_field": "container_name",
              "interval": "10s",
              "query": "SELECT mean(\"value\") FROM \"fs_limit\" WHERE ___CONTAINER_WHERE_CLAUSE___ ___FS_LIMIT_WHERE___ AND $timeFilter GROUP BY time($interval), \"container_name\" fill(previous)",
              "refId": "A",
              "policy": "default",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [
                {
                  "type": "time",
                  "params": [
                    "$interval"
                  ]
                },
                {
                  "type": "tag",
                  "params": [
                    "container_name"
                  ]
                },
                {
                  "type": "fill",
                  "params": [
                    "null"
                  ]
                }
              ],
              "select": [
                [
                  {
                    "type": "field",
                    "params": [
                      "value"
                    ]
                  },
                  {
                    "type": "mean",
                    "params": []
                  }
                ]
              ],
              "measurement": "memory_usage",
              "rawQuery": true
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Container Filesystem Usage",
          "tooltip": {
            "shared": ___TOOLTIP_SHARED___,
            "value_type": "cumulative",
            "sort": 0,
            "msResolution": false
          },
          "type": "graph",
          "yaxes": [
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "bytes"
            },
            {
              "show": true,
              "min": 0,
              "max": null,
              "logBase": 1,
              "format": "bytes"
            }
          ],
          "xaxis": {
            "show": true
          }
        }
      ],
      "title": "Row1"
    }
  ],
  "time": {
    "from": "now-5m",
    "to": "now"
  },
  "timepicker": {
    "collapse": false,
    "enable": true,
    "notice": false,
    "now": true,
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "status": "Stable",
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ],
    "type": "timepicker"
  },
  "templating": {
    "list": []
  },
  "annotations": {
    "list": []
  },
  "schemaVersion": 12,
  "version": 5,
  "links": [],
  "gnetId": null
}
